/Algoritmos e Estrutura de Dados/Prova1/nbproject/private/
/Algoritmos e Estrutura de Dados/Prova1/build/
/Algoritmos e Estrutura de Dados/Lista06/nbproject/private/
/Algoritmos e Estrutura de Dados/Lista05/nbproject/private/
/Algoritmos e Estrutura de Dados/Lista05/build/
/Algoritmos e Estrutura de Dados/teste/nbproject/private/
